---
import "./AlbumViewer.css";
import MdiArrowLeft from "~icons/mdi/arrow-left";

import AlbumPlaceholder01 from "../../assets/placeholders/pexels-dhanno-32532629.jpg";
import AlbumPlaceholder02 from "../../assets/placeholders/pexels-lexi-lauwers-1431940-18312817.jpg";
import AlbumPlaceholder03 from "../../assets/placeholders/pexels-rahimegul-32502707.jpg";
import AlbumPlaceholder04 from "../../assets/placeholders/pexels-efrem-efre-2786187-17060790.jpg";
import AlbumPlaceholder05 from "../../assets/placeholders/pexels-jose-parra-325935170-33013992.jpg";
import AlbumPlaceholder06 from "../../assets/placeholders/pexels-nathan-berthault-572786212-17384590.jpg";
import AlbumPlaceholder07 from "../../assets/placeholders/pexels-rdne-9089256.jpg";
import AlbumPicture from "./AlbumPicture.astro";

export interface AlbumViewerProps {
    albumId: string;
}

const { albumId } = Astro.props as AlbumViewerProps;
---

<main class="album-viewer">
    <header>
        <div class="album-viewer-container">
            <a href="">
                <MdiArrowLeft />
                <span>Return to the Albums</span>
            </a>
        </div>
    </header>
    <section class="album-viewer-banner">
        <h1>The Album Name</h1>
        <div class="banner-details">
            <p>January 2003 - September 2003</p>
            <p>803 items</p>
        </div>
        <div class="banner-tags">
            <a>#Wildlife</a>
            <a>#Nature</a>
            <a>#Animals</a>
            <a>#Photography</a>
            <a>#Travel</a>
        </div>
        <p class="banner-desc">The album description</p>
    </section>
    <section class="album-viewer-content">
        <div class="photo-group">
            <h6>Photo Group Name</h6>
            <div class="items">
                <AlbumPicture src={AlbumPlaceholder01} alt="picture" href={`albums/${albumId}/photos/000aaa`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder07} alt="picture" href={`albums/${albumId}/photos/000bbb`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder02} alt="picture" href={`albums/${albumId}/photos/000ccc`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder04} alt="picture" href={`albums/${albumId}/photos/000ddd`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder03} alt="picture" href={`albums/${albumId}/photos/000eee`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder06} alt="picture" href={`albums/${albumId}/photos/000fff`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder05} alt="picture" href={`albums/${albumId}/photos/000ggg`}></AlbumPicture>
            </div>
        </div>
        <div class="photo-group">
            <h6>Photo Group Name</h6>
            <div class="items">
                <AlbumPicture src={AlbumPlaceholder07} alt="picture" href={`albums/${albumId}/photos/000hhh`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder05} alt="picture" href={`albums/${albumId}/photos/000iii`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder06} alt="picture" href={`albums/${albumId}/photos/000jjj`}></AlbumPicture>
                <AlbumPicture src={AlbumPlaceholder01} alt="picture" href={`albums/${albumId}/photos/000kkk`}></AlbumPicture>
            </div>
        </div>
    </section>
</main>